.subs-msg {
    height: 150px;
    background: #faebd7;
    max-width: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 10px;
    text-align: center;
    color: #f00;
}

.new-div {

    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 2px 17px -10px;


    justify-content: space-between;
    flex-direction: row;
}