 
<nav class="navbar nv-box default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row bg-white">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-ce0nter">
      <a class="navbar-brand brand-logo " href="javascript:void0;"><img class="" width="100" src="assets/img/logo.png" alt="logo" /></a>
      <!-- <a class="navbar-brand brand-logo-mini" href="javascript:void0;"><img class="" width="100" src="assets/img/logo.png" alt="logo" /></a> -->
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="messageDropdown" href="/dashboard/(seller:notifications)" >
                  <img src="assets/img/icon/i/bell.png" alt="bell">
                  <span class="bel">10</span>
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="notificationDropdown" href="javascript:void(0)" data-toggle="dropdown" (click)="logoutClick()">
                  <img src="assets/img/icon/i/turn-off.png" alt="turn-off">
                  <!-- <span class="count-symbol bg-danger"></span> -->
              </a>
          </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleNavbar()" data-toggle="offcanvas">
          <i class="fa-solid fa-bars"></i>
          <nav class="sidebar sidebar-offcanvas" id="sidebar" [hidden]="myTogglehide">
              <ul class="nav">
          
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" routerLink="/manage_schedule" aria-expanded="false" aria-controls="ui-basic">
                          <span><img src="assets/img/icon/i/21.png" alt="21" width="20"> Gérer les horaires</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Mon expédition</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Commandes à expédier</a></li>
                          </ul>
                      </div> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" routerLink="/order" aria-expanded="false" aria-controls="ui-basic1">
                          <span><img src="assets/img/icon/i/22.png" alt="21" width="10"> Commandes</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic1">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Mes commandes</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Annulation</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Retour/Remboursement</a></li>
                          </ul>
                      </div> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" routerLink="/product" aria-expanded="false" aria-controls="ui-basic2">
                          <span><img src="assets/img/icon/i/23.png" alt="21" width="10"> Produits</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic2">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Mes produits</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Ajouter de nouveaux produits</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Violations des produits</a></li>
                          </ul>
                      </div> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" routerLink="/finance" aria-expanded="false" aria-controls="ui-basic3">
                          <span><img src="assets/img/icon/i/24.png" alt="21" width="10"> Finance</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic3">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Mes revenus</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Mon équilibre </a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Compte bancaire</a></li>
                          </ul>
                      </div> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
                          <span><img src="assets/img/icon/i/25.png" alt="21" width="10"> Données</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic4">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Perspectives d'affaires</a></li>
                          </ul>
                      </div> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic5">
                          <span><img src="assets/img/icon/i/26.png" alt="21" width="10"> Services à la clientéle</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic5">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Support de contact</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> FAQ Assistant </a></li>
                          </ul>
                      </div> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic6">
                          <span><img src="assets/img/icon/i/27.png" alt="21" width="10"> Boutique</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic6">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Évaluation de la boutique</a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Profil de la boutique </a></li>
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Mes rapports</a></li>
                          </ul>
                      </div> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#ui-basic7" aria-expanded="false" aria-controls="ui-basic7">
                          <span><img src="assets/img/icon/i/28.png" alt="21" width="10"> Réglage</span>
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                      <!-- <div class="collapse" id="ui-basic7">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="javascript:void(0);"> Coupon de réduction</a></li>
                          </ul>
                      </div> -->
                  </li>
          
              </ul>
          </nav>
      </button>

  </div>
</nav>