
<footer class="footer">
  <div class="container-fluid clearfix">
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Copyright © <a href="javascript:void(0);">swiftfashion.com</a> 2024
   </span>
  </div>
</footer>