<form >
  <div class="">
      <!-- partial:partials/_sidebar.html -->
      <div class="">

          <div class="">
              <div class="nine">
                  <h3 class="pt-2">Télécharger document stripe</h3>
                  <div id="section1" class="">

                       

                   
                      <br>
                   
                  </div>
                  



                  

                   
                  <br>
                   



              </div>

          </div>

      </div>
      <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  


</form>