<!-- [formGroup]="registerform" (ngSubmit)="register()" -->
<form class="sign-m" [formGroup]="registerform" (ngSubmit)="Submitprofile()">
    <h3>Modifier votre profil</h3>
    <div class="mb-3 mt-3">
        <label for="name" class="form-label"><span class="star">*</span>Nom</label>
        <input type="text" class="form-control" id="name" name="name" required formControlName="fullname">
    </div>
    <div class="errormsg" *ngIf="registerform.get('fullname')?.touched && registerform.get('fullname')?.hasError('required')">
        <h4> <b> Le nom est requis</b></h4>

    </div>
    <div class="mb-3 mt-3">
        <label for="name" class="form-label"><span class="star">*</span>Courriel</label>
        <input type="text" class="form-control" id="name" name="name" required formControlName="email">
    </div>
    <div class="errormsg" *ngIf="registerform.get('email')?.touched && registerform.get('email')?.hasError('required')">
        <h4> <b>L'email est requis</b></h4>

    </div>
    <div class="errormsg" *ngIf="registerform.get('email')?.touched && registerform.get('email')?.hasError('pattern')">

        <h4> <b> L'adresse électronique doit être valide</b></h4>
    </div>
    <div class="mb-3 ">
        <label for="email" class="form-label"><span class="star">*</span>Numéro de téléphone portable</label>
        <div style="display: flex;align-items: center;">
            <select formControlName="countrycode" class="form-select" style="width: 90px;" [(ngModel)]='nrSelect'>
                        <option value="+33" [selected]="true" selected>+33</option>
                        <option value="+44">+44</option>
                     </select>
            <input type="text" class="form-control" required id="phone" placeholder="" formControlName="phone" style="margin:4px" name="phone">
        </div>

    </div>
    <div class="errormsg" *ngIf="registerform.get('countrycode')?.touched && registerform.get('countrycode')?.hasError('required')">
        <h4> <b> Sélectionner le code pays</b></h4>

    </div>
    <div class="errormsg" *ngIf="registerform.get('phone')?.touched && registerform.get('phone')?.hasError('required')">
        <h4> <b> Le numéro de téléphone est requis</b></h4>

    </div>
    <div class="errormsg" *ngIf="registerform.get('phone')?.touched && registerform.get('phone')?.hasError('pattern')">

        <h4> <b> Entrer un numéro de téléphone valide</b></h4>
    </div>
    <div class="mb-3 mt-3">
        <label for="name" class="form-label">Nom de la boutique</label>
        <input type="text" class="form-control" id="name" name="name" required formControlName="shopname">
    </div>
    <div class="mb-3 mt-3">
        <label for="name" class="form-label">ICorPassport</label>
        <input type="text" class="form-control" id="name" name="name" required formControlName="ICorPassport">
    </div>

    <div class="mb-3 mt-3">
        <label for="name" class="form-label">Photo</label>
        <!-- <input type="file" class="form-control" id="name" name="name" required
                     (change)="onFileUpdate($event)"> -->

        <div class="fo-rm">
            <input class="fom-up" type="file" (change)="onFileUpdate($event)">
            <p class="fomp"><span class="w-100 d-block">Ajouter une image</span>
                <!-- <img class="mw-100" src="./assets/build/img/upload.png"> -->
                <i class="fa fa-upload"></i>
            </p>

        </div>
        <div class="fo-rm showimage" *ngIf="image">
            <img src="{{image}}" alt="" class="image-show" width="146x" height="96px">
        </div>
    </div>
    <!-- <div class="mb-3 mt-3">
                    <div class="row">
                        <div class="col-4 col-md-4 col-sm-12 col-12 scr-r">
                            <label><span class="star">*</span> Type de vendeur</label>
                        </div>
                        <div class="col-8 col-md-8 col-sm-12 col-12" style="text-align: initial;">
                            <ul class="radio-ul">
                                <li><label class=""><input   type="radio" name="type" 
                                  /> Individuel
                                       </label>
                                </li>
                                <li><label class="">
                                        <input  type="radio" name="type" /> Entreprise
                                        enregistrée
                                        
                                    </label>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                 </div> -->
    <!-- <div class="custom-control custom-radio">
							<input id="male" type="radio" class="custom-control-input" value="male" name="gender" formControlName="gender">
              <label class="custom-control-label" for="male">Male</label>
            </div>

            <div class="custom-control custom-radio">
              <input id="female" type="radio" class="custom-control-input" value="female" name="gender" formControlName="gender">
              <label class="custom-control-label" for="female">Female</label>
            </div> -->


    <button type="submit" class="btn btn-signs"><b>Mise à jour du profil</b></button>
    <div class="comeBack_up" *ngIf="getstatus">
        <div *ngIf="getstatus.status == false; else loggedOut">
            <br>
            <div class="alert alert-danger"><strong>{{ getstatus.errmessage }}</strong></div>
        </div>
        <ng-template #loggedOut>
            <br>
            <div class="alert alert-success"><strong>{{ getstatus.message }}</strong></div>
        </ng-template>
    </div>
    <button mat-button mat-dialog-close class="btn btn-signs" style="color: #fff !important;"><b>fermer</b></button>

</form>