.apy
    {
      max-width: 550px;
    margin: auto;
    text-align: center;
    box-shadow: 0 1px 35px -15px #ddd;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 35px 25px;
    }
    .apy i 
    {
      
    font-size: 55px;
    color: #4CAF50;

    }
    .fwn
    {
      font-weight: normal;
    }
    .apy p
    {
      font-size: 18px;
    color: #666;
    }