<nav class="sidebar sidebar-offcanvas" [class.sidebar-close]="!openSidebar">

  <ul class="nav-links nav" id="nav-links">
    <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
      <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
        <a [routerLink]="[item.link]">
          <i [class]="item.icon"></i>
          <span class="link_name">{{ item.link_name }}</span>
          
        </a>
      </div>
      <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
        <a>
          <i [class]="item.icon"></i>
          <span class="link_name">{{ item.link_name }}</span>
        </a>
        <i class="fa fa-angle-right"></i>
      </div>
      <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
        <li>
          <a class="link_name">{{ item.link_name }}</a>
          
          
          
        </li>
        <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
          <a [routerLink]="[{outlets: {seller: [item_sub.link]}}]" ><i class="fa-solid fa-arrow-right"></i>
            {{item_sub.link_name }}  </a>
             <!-- <a [routerLink]="[{outlets: {seller: [item_sub.link]}}]" z><i class="fa-solid fa-arrow-right"></i>
             {{item_sub.link_name }}  </a>
             <a routerLink="../{{item_sub.link}}" target="{{item_sub.ref}}" *ngIf="item_sub.ref"><i class="fa-solid fa-arrow-right"></i>
              {{item_sub.link_name }}</a> -->
             
        </li>
      </ul>
    </li>
  </ul>
</nav>