::ng-deep .app-confirm-register .ng-star-inserted {
    padding: 30px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

::ng-deep .cdk-overlay-pane {
    max-width: 100vw !important;
}

::ng-deep .cdk-overlay-pane {
    position: absolute;
    margin-left: 0px;
    margin-top: 0;
    top: 0;
    z-index: 999999;
    text-align: center;
    padding-bottom: 20px;
    overflow: auto;
    display: block;
}